*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* Banner */

/* Trusted Company */
.trusted-company{
    margin: 0 50px;
}

/* Footer */

.social-icon a{
    font-size: 20px;
    padding: 7px;
    transition: .5s;
}
.social-icon a:hover{
    color: #fff;
}